@import '../../style/variables.scss';

.minHeight-market {
    min-height: 1086px;
}

.market {
    display: flex;
    margin-left: 60px;
    margin-top: 45px;
    justify-content: space-between;
    flex-wrap: wrap;

    .market__item {
        margin: 0 15px;
        margin-bottom: 20px;
    }
}

.load__more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    color: #fff;
    padding-top: 2px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
}