.mainSlider {
    &__modal {
        &-content {
            max-width: 730px;
            width: calc(100% - 20px);
            min-height: 350px;
        }

        &-img {
            width: 100% !important;
        }
    }

    &__img {
        width: 100% !important;
    }
}