.cart {
   display: flex;
   justify-content: space-between;
   min-height: calc(100vh - 457px);

   &__block {
      width: 100%;
   }
   
   &__inner {
      display: flex;
      flex-direction: column;
   }

   &__title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 900;
   }

   &__void {
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      margin-top: 50px;
   }
}

@media (max-width: 945px) {
   .cart {
      flex-wrap: wrap;

      &__title {
         font-size: 18px;
      }
   }
}