@import '../../style/variables.scss';

.market__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 350px;
    margin-bottom: 20px;
    position: relative;
    max-width: 230px;
    width: 100%;

    &-name {
        font-weight: 900;
    }

    &-slider {
        margin-top: 20px;
    }

    &:hover &-icons {
        transform: translateY(-5px);
    }

    &:hover &-hover {
        transform: translateY(-3px);
        box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.2);
    }

    &:hover &-top img {
        transform: scale(1.03);
    }

    &-icons {
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
        display: flex;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 1px 10px;
        padding-top: 5px;
        transition: .2s linear;
    }

    &-icon {
        cursor: pointer;
        &:not(:last-of-type) {
            margin-right: 20px;
        }
    }

    &-hover {
        transition: .2s linear;
        border: 1px solid $secondary-color;
        border-radius: 15px;
        overflow: hidden;
    }
    
    &-price {
        font-size: 14px;
    }

    &-btn {
        font-size: 14px;
        border-radius: 30px;
        display: flex;
        max-width: 100px;
        width: 100%;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
    }

    &-top {
        height: 230px;
        width: 230px;
        overflow: hidden;

        img {
            height: 230px;
            width: 230px;
            object-fit: cover;
            transition: .15s linear !important;
            image-orientation: from-image;
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 110px;
        padding: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
        width: 100%;
    }

    &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 75px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    
        .market__counter-btn {
            outline: none;
            border: none;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 20px;
            height: 20px;

            path {
                transition: .15s linear;
            }

            &:hover {
                path {
                    fill: $secondary-color
                }
            }
        }
    }
}

@media (max-width: 730px) {
    .market__item {
        height: 300px;
        max-width: 200px;

        &-top {
            height: 200px;
            width: 200px;

            img {
                width: 200px;
                height: 200px;
            }
        }

        &-bottom {
            min-height: 95px;
            padding: 10px;
            padding-top: 0px;
        }

        &-counter {
            font-size: 14px;
            max-width: 65px;
        }
    }
}

@media (max-width: 445px) {
    .market__item {
        height: 255px;
        max-width: 175px;

        &-top {
            height: 150px;
            width: 175px;
            
            img {
                width: 175px;
                height: 150px;
            }
        }

        &-bottom {
            padding: 0 6px 10px;
        }

        &-btn {
            font-size: 12px;
            max-width: 80px;
            height: 20px;
        }

        &-name {
            font-size: 14px;
        }

        &-price {
            font-size: 12px;
        }
    }
}