@import "../../style/variables.scss";

.message {
    background-color: $secondary-color;
    margin: 20px -10px;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    &__inner {
        padding: 20px 30px;
        max-width: 550px;
        width: 100%;

        &-title {
            font-weight: 900;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 500px) {
    .message {
        &__inner {
            padding: 10px 20px;
            
            &-title {
                font-size: 14px;
            }
    
            &-text {
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
    }
}