@import "../../style/variables.scss";

.message {
    background-color: $secondary-color;
    margin: 20px -10px;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;

    &__inner {
        max-width: 645px;
        width: 100%;

        &-title {
            font-weight: 900;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    &__img {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        img {
            width: 100%;
            max-height: 300px;
            height: 100%;
        }
    }
}

@media (max-width: 675px) {
    .message {
        padding: 10px 15px;

        &__img {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .message {
        padding: 10px 15px;

        &__inner {        
            &-title {
                font-size: 14px;
            }
    
            &-text {
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
    }
}