@import '../../style/variables.scss';

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid $secondary-color;
        transition: .15s linear;
        cursor: pointer;
        margin: 0 5px;

        &:hover {
            transform: translateY(-4px);
        }
    }
}

@media (max-width: 630px) {
    .nav {
        flex-wrap: wrap;

        &__item {
            font-size: 14px;
            width: 120px;
            height: 35px;
            border-radius: 5px;
        }
    }
}

@media (max-width: 540px) {
    .nav {
        margin-bottom: 0px;

        &__item {
            width: 200px;
            height: 35px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 440px) {
    .nav {
        &__item {
            width: 160px;
            height: 30px;
        }
    }
}