@import '../../style/variables.scss';

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid $secondary-color;
        transition: .15s linear;
        cursor: pointer;

        &:hover {
            transform: translateY(-4px);
        }
    }
}

@media (max-width: 630px) {
    .nav {
        &__item {
            font-size: 14px;
            width: 130px;
            height: 35px;
        }
    }
}

@media (max-width: 430px) {
    .nav {
        &__item {
            font-size: 12px;
            width: 115px;
            height: 30px;
            border-radius: 5px;
        }
    }
}