@import '../../style/variables.scss';

.catalog {
    position: relative;
    margin-top: 15px;

    &__list {
        background: #181220;
        height: 0;
        overflow: hidden;
        transition: .1s linear;
        max-height: 240px;
    
    
        &-item {
            transition: .1s linear;
            display: flex;
            justify-content: flex-start;
            height: 40px;
            align-items: center;
            padding: 0 25px;
            cursor: pointer;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
    
            color: #fff;
            margin-bottom: 1px;
            background: #794bb5bf;
    
            .icon {
                width: 25px;
            }
        }

        &-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 40px;
            width: 100%;
        }
    }

    &__nav {
        position: absolute;
        top: -45px;
        left: -10px;
        z-index: 10;
        width: 250px;
        padding-bottom: 40px;
    }

    &__button {
        outline: none;
        border: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: absolute;
        top: -35px;
        left: 0px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(197, 171, 255, 0.4705882353);
        z-index: 11;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-top: 5px;
            margin-left: 2px;
        }
    }

    &__ul {
        margin-top: 100px;
        width: 100%;
    }
      
    &__li {
        list-style: none;
        cursor: pointer;
        position: relative;
        margin-bottom: 1px;
    }
    
    &__slide {
        &-item {
            white-space: nowrap;
            height: 45px;
            background: #c5abff;
            font-size: 14px;
            line-height: 19px;
            padding: 0 25px;
            cursor: pointer;
            width: 100%;
            cursor: pointer;
            padding-top: 2px;
        }

        &-name {
            text-transform: capitalize;
        }
    
        &-icon {
            transition: .1s linear;
    
            &.rotate {
                transform: rotate(-90deg);
            }
        }
    }
    
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .search {
        width: 100%;
        position: relative;
    
        &__group {
            padding: 10px 0;
            cursor: default;
        }
    
        &__input {
            color: #fff;
            font-weight: 400;
            width: 100%;
            padding: 10px 15px;
            outline: none;
            max-width: 350px;
            font-size: 12px;
            position: relative;
            padding-top: 12px;
        
            background: #794bb5bf;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 220px;
        
            font-size: 18px;
            transition: border-color .2s linear;

            &::placeholder {
                color: #fff;
            }
        
            &:focus, &:hover {
                border-color: $secondary-color;
            }
        
            &-price {
                max-width: 85px;
                height: 30px;
                font-size: 13px;
            }
        }
    
        &__inputs {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .to {
                padding-top: 2px;
                margin: 0 10px;
            }
        }
    
        &__error {
            font-size: 11px;
            margin-top: 4px;
            transition: .1s linear;
            text-align: center;
        }

        &__btn {
            height: 30px;
            background-color: $secondary-color;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin: 0 auto;
            max-width: 120px;
            width: 100%;
            cursor: pointer;
            font-size: 12px;
            padding-top: 2px;
            margin-top: 5px;
        }
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #c5abff78;
    border-bottom-right-radius: 20px;
}