@import '../../style/variables.scss';

.sort {
    &__btn {
        position: absolute;
        right: 0;
        top: -33px;
        cursor: pointer;
    }

    &__modal {
        background-color: rgba(197, 171, 255, 0.4705882353);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        border-radius: 10px;
        min-width: 200px;
        padding: 10px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 27px;
        padding: 0 5px;
        border-radius: 5px;

        .alphabet {
            width: 16px;
            height: 16px;
        }

        &:not(:first-of-type) {
            margin-top: 10px;
        }

        span {
            font-size: 12px;
            color: #fff;
        }
    }
}