@import '../../style/variables.scss';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 419px);

    &__flex {
        display: flex;
    }
}

.modal {
    border-radius: 15px;
    border: 1px solid #000;
    width: 400px;
    padding: 15px 60px;
    background-color: #fff;
    padding-bottom: 15px;
    box-shadow: 6px 8px 35px 0px rgba(0, 0, 0, 0.2);
    height: 320px;

    &__form {
        &-login, &-password {
            position: relative;
        }

        &-login {
            margin-bottom: 30px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__btn {
        height: 30px;
        background-color: $secondary-color;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin: 0 auto;
        min-width: 120px;
        cursor: pointer;
        font-size: 12px;
        padding: 0 15px;
    }

    &__error {
        transition: .2s linear;
        font-size: 10px;
        text-align: center;
        margin: 10px 0;
        min-height: 30px;
    }
}